body {
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Degradado azul oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    margin: 0;
    text-align: center;
}

.container {
    background-color:  #001f3f; /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 10px;
}

.icono {
    width: 150px; /* Ajusta el tamaño del icono del juego */
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #32CD32; /* Verde viche */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #28a745;
}
